
name: CI

on:
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build & Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Pre-commit
        uses: pre-commit/action@v3.0.1
      - uses: dtolnay/rust-toolchain@stable
      - name: Check compilation (no issues)
        run: cargo build
      - name: Check compilation (no warnings)
        run: RUSTFLAGS="-D warnings" cargo build

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Run tests (no issues, no warnings)
        run: RUSTFLAGS="-D warnings" cargo test

  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Install tarpaulin
        run: cargo install cargo-tarpaulin
      - name: Run coverage
        run: cargo tarpaulin --fail-under 70 --out Xml

  audit:
    name: Security Audit
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Install cargo-audit
        run: cargo install cargo-audit
      - name: Run audit
        run: cargo audit
        continue-on-error: true
